Tugas 3 Ai Keuangan.json
{
  "name": "Tugas 3 Ai Keuangan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "6a3d19d1-b5ab-4bba-b04a-1471b6bb2bda"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FNOrMgkfxYK__Ab90j_ZIwQGiiXn2bARr79WnNrAmO0",
          "mode": "list",
          "cachedResultName": "dummy keuagan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FNOrMgkfxYK__Ab90j_ZIwQGiiXn2bARr79WnNrAmO0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 935739317,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FNOrMgkfxYK__Ab90j_ZIwQGiiXn2bARr79WnNrAmO0/edit#gid=935739317"
        },
        "options": {}
      },
      "name": "Sheet 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "id": "b5c4a4b3-0d99-46ff-825f-355ad69dca45",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zdtg531UPVR2m1Em",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840720130,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xFNtqb27YAMJJA_Jz5gwzJQpRbI6jGJc-14iaBZ9DHU/edit#gid=1840720130"
        },
        "options": {}
      },
      "name": "Sheet 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "id": "80e793f1-184b-4473-97b7-dd25c083831f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zdtg531UPVR2m1Em",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {},
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        208,
        112
      ],
      "id": "e345e452-050b-4bb7-a586-3630698b2d21"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.Sumber = item.json['ID Laporan']?.startsWith('REP') ? 'Sheet1' : 'Sheet2';\n  return item;\n});"
      },
      "name": "Tambah Sumber (1&2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "id": "b5b28c15-8152-4c72-ae9b-88a441569c9e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 257652098,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1httiBy26ZQnFAKzTPKMdEDHAYnMafkjbLXWfV3B9Zvw/edit#gid=257652098"
        },
        "options": {}
      },
      "name": "Sheet 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        352
      ],
      "id": "fc8c3b41-c139-4907-ba5c-7915502a25ee",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zdtg531UPVR2m1Em",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: {\n  'ID Laporan': item.json['ID Laporan'],\n  'Bulan': item.json.Bulan,\n  'Penjualan (Unit)': Number(item.json['Penjualan Harian']) || 0,\n  'Pendapatan (IDR)': Number(item.json['Total Penjualan (IDR)']) || 0,\n  'Sumber': 'Sheet3'\n}}));"
      },
      "name": "Transform Sheet 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ],
      "id": "6bd929b4-f837-45a1-bb96-b1825ae6a5e6"
    },
    {
      "parameters": {},
      "name": "Gabung Semua",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        608,
        208
      ],
      "id": "87b4a213-7e44-45e1-9cee-4dfcdd6978bb"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        800,
        208
      ],
      "id": "bdb3b22b-6cb6-4dbe-8471-17c64bf667af"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\nconst bulan = new Date().toLocaleString('id-ID',{month:'long'});\nconst filtered = data.filter(d => (d.Bulan||'').toLowerCase() === bulan.toLowerCase());\n\nlet totalUnit = 0, totalPendapatan = 0;\nfiltered.forEach(d => {\n  totalUnit += d['Penjualan (Unit)'] || 0;\n  totalPendapatan += d['Pendapatan (IDR)'] || 0;\n});\n\nconst jumlah = filtered.length;\n\nreturn [{ json: {\n  Bulan: bulan,\n  Tahun: new Date().getFullYear(),\n  Jumlah_Laporan: jumlah,\n  Total_Penjualan_Unit: totalUnit,\n  Total_Pendapatan_IDR: totalPendapatan,\n  Rata_Rata_Penjualan_Per_Laporan: jumlah ? totalUnit/jumlah : 0,\n  Rata_Rata_Pendapatan_Per_Laporan: jumlah ? totalPendapatan/jumlah : 0\n}}];"
      },
      "name": "Generate Laporan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ],
      "id": "7fcfedc7-3691-4679-99a0-4009503a8562"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MkpHsJU0Yqu6IPtYALlCHsMP1wBd60n2GeXHGXUImVc",
          "mode": "list",
          "cachedResultName": "dummy laporan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MkpHsJU0Yqu6IPtYALlCHsMP1wBd60n2GeXHGXUImVc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MkpHsJU0Yqu6IPtYALlCHsMP1wBd60n2GeXHGXUImVc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Tahun"
          ],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        0
      ],
      "id": "03c217a7-f97f-40d7-9175-9b80e0e2268e",
      "name": "Laporan Bulanan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zdtg531UPVR2m1Em",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  ✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} 📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit 💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        208
      ],
      "id": "ea85d271-934a-424d-8652-0bb8c9c5ea6a",
      "name": "Send a text message",
      "webhookId": "89fef5d0-696c-4ae2-8bff-7d7260be97fb",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "randyakurniawan@gmail.com",
        "subject": "Laporan Bulanan",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> | <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        416
      ],
      "id": "6ff38180-27b8-463c-8c76-2936ee09c1d7",
      "name": "Send a message",
      "webhookId": "ac50d6dc-076d-42db-9a57-520a890e4d65",
      "credentials": {
        "gmailOAuth2": {
          "id": "lI0F9mJw4VCM46Iv",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 1": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 2": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Tambah Sumber (1&2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tambah Sumber (1&2)": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 3": {
      "main": [
        [
          {
            "node": "Transform Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Sheet 3": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gabung Semua": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Laporan Bulanan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f2fd42d-3c0d-43c4-85aa-a50edf00f2ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "YufE5CM2qXzjJzeC",
  "tags": []
}