Tugas 5 Ai Keuangan (1).json
{
  "name": "Tugas 5 Ai Keuangan",
  "nodes": [
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        1136
      ],
      "id": "4b069cd3-7d86-4ae4-b3f1-95e9bb40d9b7",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        1136
      ],
      "id": "da8160c3-8d79-46e4-8ba2-83366c01f5ca",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        1008
      ],
      "id": "e2c7815e-9a76-44f0-96da-351b906ae1bd",
      "name": "CNBC Indonesia RSS1"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        1248
      ],
      "id": "3e30174e-8cdd-4792-b2a3-fce4ce1dbdba",
      "name": "Finance Detik RSS1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        1136
      ],
      "id": "053c9ffc-b488-435a-9d06-c29fc43c902b",
      "name": "Menggabungkan 2 Output RSS1"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        1136
      ],
      "id": "1ebe4e81-72ec-45d7-b6dd-09bbf6a40310",
      "name": "Unduh halaman web dari setiap URL1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1072,
        1136
      ],
      "id": "8dd0660c-808c-4cc5-b1c7-7f4abcb41187",
      "name": "Clean kode HTML dan Ekstrak1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        1136
      ],
      "id": "bd0f5508-878f-4425-9319-d857841357db",
      "name": "Menggabungkan menjadi 1 blok teks besar1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Ringkaslah 10 artikel berikut menjadi 5 poin berita keuangan utama yang paling relevan untuk pagi ini. Gunakan bahasa Indonesia yang profesional.\n\nKonteks: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1472,
        1136
      ],
      "id": "a23b3002-fe2f-42f3-881c-b0a98e1f7088",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1472,
        1296
      ],
      "id": "30e17223-03c1-4e1e-9028-ff2fb772456e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "XSsfojxM0UboPES4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        1136
      ],
      "id": "39f0e92b-150e-4c5c-9df7-fc7ff1a69c80",
      "name": "Send a text message1",
      "webhookId": "f779527e-8a03-4262-9043-a33c38f5bbf2",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS1": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL1": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan Ekstrak1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan Ekstrak1": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a7e5263-405c-4e34-9836-426fe6d6d92d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "3W8teIBzck8z6Azm",
  "tags": []
}