Tugas 7 AI Keuangan.json
{
  "name": "Tugas 7 AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83bfb60b-98d0-4626-8532-1eb07f93e7e2",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        208
      ],
      "id": "198c822f-34be-4df4-980a-3caa62c3b373",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "e3b7fadc-c0d9-4f8b-a9be-fde6b786ad04",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EZ97Gqe4WnGpRSik",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        208
      ],
      "id": "98f637b4-f1ee-406d-a7e9-52c369ca1aaa",
      "name": "Setiap Hari Minggu"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        208
      ],
      "id": "6aa9b116-998e-4f5c-a2bb-5255b15dc3df",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zdtg531UPVR2m1Em",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        208
      ],
      "id": "2c8c230a-ff19-49c4-ab99-1ea112f46cfc",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        304
      ],
      "id": "54f84000-c7a3-4b37-a2cc-5faf0861301b",
      "name": "Pesan False",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        112
      ],
      "id": "e2e9e052-cc67-47bb-87ba-b0d56cb2ac23",
      "name": "Analisis"
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        112
      ],
      "id": "863ab9c2-fc27-4a0b-ab6e-2e2c68afb7d1",
      "name": "Pesan True",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Analisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setiap Hari Minggu": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis": {
      "main": [
        [
          {
            "node": "Pesan True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "499e00a3-c757-4eb4-9dbc-c2b77564be12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "BIHuPjr8vco4aGBt",
  "tags": []
}